RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Sécurité
<Files ".env">
    Require all denied
</Files>

<FilesMatch "\.(md|log)$">
    Require all denied
</FilesMatch>